* {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
	display: flex;
	width: 90%;
}

.list {
	width: 20%;
}
.list ul {
	padding-left: .5rem;
}
.list li {
	color: #4078c0;
	cursor: pointer;
	list-style: none;
	padding: .5rem;
}
.list li:nth-child(2n) {
	background-color: #f7f7f7;
}
.list li.selected {
	background-color: #e0e0e0;
}

form {
	width: 80%;
	margin: 0 auto;
	padding: 2rem;
}


.write-content textarea {
	width: 100%;
	height: 30rem;
}

.preview-content {
	margin-top: 2rem;
}
